<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="{{avatar}}" alt="Card image cap">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Họ và tên: {{name}}</h5>
                <p class="card-text">
                    Ngày sinh: {{dob}} <br>
                    Sở thích: {{hobby}} <br>
                    Công việc: {{job}} <br>
                    Giá: {{price}} <br>
                </p>
            </div>
        </div>
        <form action="/book" method="post">
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <div class="form-group">
                        <label for="ngay"></label>
                        <input type="text" class="form-control" id="ngay" name="ngay">Nhập ngày
                    </div>
                    <div class="form-group">
                        <label for="thang"></label>
                        <input type="text" class="form-control" id="thang" name="thang">Nhập tháng
                    </div>      
                    <div class="form-group">
                        <label for="nam"></label>
                        <input type="text" class="form-control" id="nam" name="nam" value="2022">Nhập năm
                    </div>               
                    <div class="form-group">
                        <label for="note"></label>
                        <input type="text" class="form-control" id="note" name="note">Ghi chú
                    </div>
                    <div>
                        <button class="btn btn-primary" id="username" name="username" value={{username}}>Đặt lịch</button>
                    </div>
                    <div class="alert alert-danger" role="alert">
                        {{msg}}
                    </div>
                </div>
        </form>
    </div>
</div>