<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="{{avatar}}" alt="Card image cap">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Họ và tên: {{name}}</h5>
                <p class="card-text">
                    Ngày sinh: {{dob}} <br>
                    Sở thích: {{hobby}} <br>
                    Công việc: {{job}} <br>
                    Trạng thái: {{status}} <br>
                </p>
            </div>
        </div>
        <form action="/personal" method="post">
            <div class="form-group">
                <label for="status">Viết trạng thái</label>
                <input type="text" class="form-control" id="status" name="status" placeholder="Viết trạng thái">
                <button type="submit" class="btn btn-success" id="username" name="username"
                    value={{username}}>Đăng</button>
            </div>
        </form>
        {{!-- <form action="/update" method="get">
        <button type="submit" class="btn btn-success" {{!-- id="username" name="username"
            value={{username}}>Chỉnh sửa
            thông tin cá nhân</button></form>    --}}     
        <div>
            <a href="/update" class="text-success"> Chỉnh sửa thông tin cá nhân </a>
        </div>    
    </div>
</div>